Peform Data Cleaning
Clean a Dataset by Removing Missing values and Outliers

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('Employee Sample Data.csv', encoding='latin1')
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,6/10/2019,"$176,710",15%,United States,Miami,NaN
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [4]:
df.info

<bound method DataFrame.info of        EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age   Hire Date Annual Salary  \
0    Research & Development  Female      Black   55    4/8/2016     $141,604
1             Manufacturing    Male      Asian   59  11/29/1997      $99,975
2       Speciality Products  Female  Caucasian   50  10/26/2006     $163,099
3             Manufacturing  Female  Caucasian   26   9/27/2019      $84,913
4             Manufacturing    Male      Asian   55  11/20/1995      $95,409
..                      ...     ...        ...  ...         ...           ...
995     Speciality Products    Male  Caucasian   33   9/18/2016      $98,427
996     Speciality Products  Female      Asian   44   5/31/2010      $47,387
997     Speciality Products    Male      Asian   31   6/10/2019     $176,710
998     Speciality Products  Female      Asian   33   1/28/2012      $95,960
999               Corporate  Female      Asian   63   7/26/2020     $216,195

    Bonus %        Country       City   Exit Date
0      15%   United States    Seattle  10/16/2021
1       0%           China  Chongqing         NaN
2      20%   United States    Chicago         NaN
3       7%   United States    Chicago         NaN
4       0%   United States    Phoenix         NaN
..      ...            ...        ...         ...
995     0%   United States   Columbus         NaN
996     0%           China    Chengdu    1/8/2018
997    15%   United States      Miami         NaN
998     0%           China    Chengdu         NaN
999    31%   United States      Miami         NaN

[1000 rows x 14 columns]>

In [5]:
df_cleaned = df.dropna()
df_cleaned

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25,5/16/2020,"$41,336",0%,United States,Miami,5/20/2021
14,E03496,Robert Yang,Sr. Analyst,Accounting,Speciality Products,Male,Asian,31,11/4/2017,"$97,078",0%,United States,Austin,3/9/2020
40,E01754,Owen Lam,Sr. Business Partner,Human Resources,Speciality Products,Male,Asian,30,5/29/2017,"$86,317",0%,China,Chengdu,7/16/2017
61,E00502,Natalia Salazar,Sr. Analyst,Accounting,Manufacturing,Female,Latino,44,1/2/2019,"$74,691",0%,Brazil,Manaus,7/8/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,E03305,Cooper Jiang,Analyst II,Accounting,Corporate,Male,Asian,49,7/25/2019,"$50,883",0%,China,Chongqing,3/2/2021
982,E03247,Aaliyah Mai,Vice President,IT,Speciality Products,Female,Asian,57,11/11/2016,"$246,589",33%,United States,Phoenix,3/26/2017
983,E02703,Austin Vang,Manager,Marketing,Speciality Products,Male,Asian,49,5/20/2018,"$119,397",9%,China,Beijing,3/14/2019
991,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,4/22/1998,"$85,369",0%,Brazil,Manaus,11/27/2004
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018

In [6]:
def remove_outliers_zscore(data, threshold=3):
    z_scores = np.abs((data - data.mean()) / data.std())
    return data[(z_scores < threshold).all(axis=1)]

In [7]:
numerical_columns = df_cleaned.select_dtypes(include=[np.number])
numerical_columns

     Age
0     55
7     25
14    31
40    30
61    44
..   ...
963   49
982   57
983   49
991   48
996   44

[85 rows x 1 columns]

In [8]:
df_cleaned[numerical_columns.columns] = remove_outliers_zscore(numerical_columns)
df_cleaned[numerical_columns.columns]

C:\Users\rglra\AppData\Local\Temp\ipykernel_14888\3036390889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[numerical_columns.columns] = remove_outliers_zscore(numerical_columns)

     Age
0     55
7     25
14    31
40    30
61    44
..   ...
963   49
982   57
983   49
991   48
996   44

[85 rows x 1 columns]

In [9]:
df_cleaned.to_csv('cleaned_dataset.csv', index=False)

In [28]:
df_cleaned

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25,5/16/2020,"$41,336",0%,United States,Miami,5/20/2021
14,E03496,Robert Yang,Sr. Analyst,Accounting,Speciality Products,Male,Asian,31,11/4/2017,"$97,078",0%,United States,Austin,3/9/2020
40,E01754,Owen Lam,Sr. Business Partner,Human Resources,Speciality Products,Male,Asian,30,5/29/2017,"$86,317",0%,China,Chengdu,7/16/2017
61,E00502,Natalia Salazar,Sr. Analyst,Accounting,Manufacturing,Female,Latino,44,1/2/2019,"$74,691",0%,Brazil,Manaus,7/8/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,E03305,Cooper Jiang,Analyst II,Accounting,Corporate,Male,Asian,49,7/25/2019,"$50,883",0%,China,Chongqing,3/2/2021
982,E03247,Aaliyah Mai,Vice President,IT,Speciality Products,Female,Asian,57,11/11/2016,"$246,589",33%,United States,Phoenix,3/26/2017
983,E02703,Austin Vang,Manager,Marketing,Speciality Products,Male,Asian,49,5/20/2018,"$119,397",9%,China,Beijing,3/14/2019
991,E03430,Leo Herrera,Sr. Business Partner,Human Resources,Research & Development,Male,Latino,48,4/22/1998,"$85,369",0%,Brazil,Manaus,11/27/2004
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018